.kekich{ text-decoration: line-through }
.kekich {
    text-decoration: line-through;
    color: #B8C2CC;
}

.kekich:hover {
    color: #8795A1;
}
body{
    background-color: #6CB2EB;
    color: #6CB2EB;

}